.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
